.blur-post {
  filter: blur(var(--post-blur-amount)) grayscale(var(--post-blur-gray-scale));
}

.blur-communities {
  filter: blur(var(--communities-blur-amount))
    grayscale(var(--communities-blur-gray-scale));
}

.blur-bookmarks {
  filter: blur(var(--bookmarks-blur-amount))
    grayscale(var(--bookmarks-blur-gray-scale));
}

.blur-explore {
  filter: blur(var(--explore-blur-amount))
    grayscale(var(--explore-blur-gray-scale));
}

.blur-trending {
  filter: blur(var(--trending-blur-amount))
    grayscale(var(--trending-blur-gray-scale));
}

.blur-message {
  filter: blur(var(--message-blur-amount))
    grayscale(var(--message-blur-gray-scale));
}

.blur-message-option {
  filter: blur(var(--message-option-blur-amount))
    grayscale(var(--message-option-blur-gray-scale));
}

.blur-message-option:first-of-type {
  filter: none !important;
}

.blur-messages {
  filter: blur(var(--messages-blur-amount))
    grayscale(var(--messages-blur-gray-scale));
}

.blur-notifications {
  filter: blur(var(--notifications-blur-amount))
    grayscale(var(--notifications-blur-gray-scale));
}

.blur-profile {
  filter: blur(var(--profile-blur-amount))
    grayscale(var(--profile-blur-gray-scale));
}

.blur-search {
  filter: blur(var(--search-blur-amount))
    grayscale(var(--search-blur-gray-scale));
}

article.blur-post {
  filter: none !important;
}
